@model Project_Envision.Models.TaskPropertiesModel
@{ ViewData["Title"] = "CreateTask";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml"; }

<link rel="stylesheet" href="~/css/CreateTask.css" />

<div class="box" method="post">
    <div class="createTaskContainer">
        <form>
            <img src="~/images/logo2.png" />
            <label id="TaskNameLabel" asp-for="Task_name">Task Name:</label>
            <input type="text" name="Task_name" asp-for="Task_name" placeholder="Task Name" required="" />

            <br />

            <label for="Task_Description" asp-for="Task_Description">Description:</label>
            <textarea cols="25" rows="4" placeholder="Task Description" id="description" asp-for="Task_Description" maxlength="100"></textarea>

            <br />
            <br />

            <label id="TaskPointsLabel" asp-for="Task_points">Task Points:</label>
            <input type="number" min="0" max="100" name="Task_points" asp-for="Task_points" placeholder="Task Points" required="" />

            <br />

            <label for="Assignee" asp-for="Assignee">Choose an Assignee:</label>

            <select name="Assignee" id="Assignee" asp-for="Assignee">
                @{

                    if (TaskPropertiesModel.getAssignee != "None")
                    {
                        <option value="None"> None</option>
                    }

                    for (int i = 0; i < BoardModel.m_usernamelist.Count(); i++)
                    {
                        if (BoardModel.m_usernamelist[i] != null)
                        {

                            <option value=@BoardModel.m_usernamelist[i]> @BoardModel.m_usernamelist[i]</option>
                        }
                    }
                }
            </select>

            <div class="buttons">
                <input type="submit" class="button homeButtons createButton" value="Create Task" />
                <input type="button" class="button homeButtons cancelButton" value="Cancel" onclick="location.href='@Url.Action("ProductBacklog", "Board")'" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}
