@model Project_Envision.Models.GroupMembers
@{
    ViewData["Title"] = "Teammates";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/AddRemoveTeammates.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="boxContainer">
    <div class="box smallBoxes">
        <h1>Add Teammate</h1>
    </div>
    <div class="box smallBoxes">
        <h1>Remove Teammate</h1>
    </div>
</div>