@{
    ViewData["Title"] = "Board Settings";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="titleBox">
    <h2 style="margin: auto;">Board Settings</h2>
</div>

<div class="boxContainer">
    @* Board name *@
    <div class="box">
        <div class="smallBoxTitle">Change Board Name</div>

        <br />

        <div class="secondaryInput">
            <label>Board Name</label>
            <input type="text" name="board_Name" placeholder="Board Name" autocomplete="off" required="" maxlength="20" />
        </div>

        <div class="buttons">
            <input type="submit" class="buttonStyle editButton" value="Edit" />
        </div>
    </div>

    @* Description *@
    <div class="box">
        <div class="smallBoxTitle">Change Description</div>

        <br />

        <div class="secondaryInput">
            <label>Board Description</label>
            <textarea cols="25" rows="4" placeholder="Board Description" id="description" maxlength="100"></textarea>
        </div>

        <div class="buttons">
            <input type="submit" class="buttonStyle editButton" value="Edit" />
        </div>
    </div>

    @* Change text color *@
    <div class="box">
        <div class="smallBoxTitle">Change Text Color</div>

        <div class="secondaryInput">
            <input type="color" id="favcolor" name="favcolor" value="#ff0000">
        </div>

        <br />

        <div class="buttons">
            <input type="submit" class="buttonStyle textColorButton" value="Change Text Color" />
        </div>
    </div>

    @* Change card color *@
    <div class="box">
        <div class="smallBoxTitle">Change Card Color</div>

        <div class="secondaryInput">
            <input type="color" id="favcolor" name="favcolor" value="#ff0000">
        </div>

        <br />

        <div class="buttons">
            <input type="submit" class="buttonStyle textColorButton" value="Change Card Color" />
        </div>
    </div>

    <div class="boxCombined">
        <div class="smallBoxTitle">Change Background</div>
    </div>


</div>