@model Project_Envision.Models.BoardSettings
@{
    ViewData["Title"] = "Board Settings";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />
<style>
    body {
        color: @BoardSettingsItems.m_TextColor;
    }

    body, html {
    background-image: @BoardSettingsItems.m_BoardBackground;
    }

</style>


<div class="titleBox">
    Board Settings
</div>

<div class="boxContainer">
    @* Board name *@
    <div class="box">
        <form method="post" asp-controller="BoardSettings" asp-action="boardName">
            <div class="smallBoxTitle">Change Board Name</div>

            <br />

            <div class="secondaryInput">
                <label>Board Name</label>
                <input type="text" asp-for="boardName" name="boardName" placeholder="@BoardSettingsItems.m_BoardName" autocomplete="off" required="" maxlength="20" />
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle editButton" value="Edit" />
            </div>
        </form>
    </div>

    @* Description *@
    <div class="box">
        <form method="post" asp-controller="BoardSettings" asp-action="editBoardDescription">
            <div class="smallBoxTitle">Change Description</div>

            <br />

            <div class="secondaryInput">
                <label>Board Description</label>
                <textarea asp-for="boardDescription" cols="25" rows="4" id="description" maxlength="100" placeholder="@BoardSettingsItems.m_BoardDescription"></textarea>
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle editButton" value="Edit" />
            </div>
        </form>
    </div>

    @* Change text color *@
    <div class="box">
        <form method="post" asp-controller="Boardsettings" asp-action="textColor">
            <div class="smallBoxTitle">Change Text Color</div>

            <div class="secondaryInput">
                <input type="color" asp-for="textColor" id="textColor" name="textColor" value=@BoardSettingsItems.m_TextColor>
            </div>

            <br />

            <div class="buttons">
                <input type="submit" class="buttonStyle textColorButton" value="Change Text Color" />
            </div>
        </form>
    </div>

    @* Change card color *@
    <div class="box">
        <form method="post" asp-controller="Boardsettings" asp-action="cardColor">
            <div class="smallBoxTitle">Change Card Color</div>

            <div class="secondaryInput">
                <input type="color" asp-for="cardColor" id="cardColor" name="cardColor" value=@BoardSettingsItems.m_CardColorHex>
            </div>

            <br />

            <div class="buttons">
                <input type="submit" class="buttonStyle textColorButton" value="Change Card Color" />
            </div>
        </form>
    </div>

    <div class="boxCombined">
        <div class="smallBoxTitle">Change Background</div>
        <br />
        <div class="backgroundImageContainer">

            <div class="backgroundImages fade">
                <div class="numbertext">1 / 7</div>
                <img src="~/images/Computer.jpg" style="width:100%">
                <div class="text">Computer</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">2 / 7</div>
                <img src="~/images/Beach.jpg" style="width:100%">
                <div class="text">Beach</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">3 / 7</div>
                <img src="~/images/City.jpg" style="width:100%">
                <div class="text">City</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">4 / 7</div>
                <img src="~/images/Forest.jpg" style="width:100%">
                <div class="text">Forest</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">5 / 7</div>
                <img src="~/images/Mountains.jpg" style="width:100%">
                <div class="text">Mountains</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">6 / 7</div>
                <img src="~/images/Space.jpg" style="width:100%">
                <div class="text">Space</div>
            </div>

            <div class="backgroundImages fade">
                <div class="numbertext">7 / 7</div>
                <img src="~/images/Volcano.jpg" style="width:100%">
                <div class="text">Volcano</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>

        <br />
        <form method="post" asp-controller="Boardsettings" asp-action="backgroundImage">
            <div class="selectionStyle">
                <select asp-for="backgroundImage">

                    @{
                        if (BoardSettingsItems.m_BoardBackground == "Computer-Background.jpg")
                        {
                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "Beach-Background.jpg")
                        {

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "City-Background.jpg")
                        {

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "Forest-Background.jpg")
                        {

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "Mountains-Background.jpg")
                        {

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "Space-Background.jpg")
                        {

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                        else if (BoardSettingsItems.m_BoardBackground == "Volcano-Background.jpg")
                        {

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                        }
                        else
                        {
                            <option value="Computer-Background.jpg">
                                Computer
                            </option>

                            <option value="Beach-Background.jpg">
                                Beach
                            </option>

                            <option value="City-Background.jpg">
                                City
                            </option>

                            <option value="Forest-Background.jpg">
                                Forest
                            </option>

                            <option value="Mountains-Background.jpg">
                                Mountains
                            </option>

                            <option value="Space-Background.jpg">
                                Space
                            </option>

                            <option value="Volcano-Background.jpg">
                                Volcano
                            </option>

                        }
                    }

                </select>
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle textColorButton" value="Change Background" />
            </div>
            </form>
    </div>


</div>

<script>
    var index = 1;
    showImages(index);

    function plusSlides(n) {
        showImages(index += n);
    }

    function currentSlide(n) {
        showImages(index = n);
    }

    function showImages(n) {
        var i;
        var slides = document.getElementsByClassName("backgroundImages");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { index = 1 }
        if (n < 1) { index = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[index - 1].style.display = "block";
        dots[index - 1].className += " active";
    }
</script>