@model Project_Envision.Models.UserSettings
@{
    ViewData["Title"] = "User Settings";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<style>
    body {
        color: @BoardSettingsItems.m_TextColor;
    }

</style>

<div class="titleBox">
    <h2 style="margin: auto;">User Settings</h2>
</div>

<div class="boxContainer">
    @* Change username *@
    <div class="box">
        <form method="post" asp-controller="Settings" asp-action="ChangeUsername">
            <div class="smallBoxTitle">Change Username</div>

            <br />

            <div class="secondaryInput">
                <label>Username</label>

                <input type="text" asp-for="Username" name="Username" placeholder="@ModelItems.m_Username" autocomplete="off" required maxlength="20" />
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle changeUsernameButton" value="Change Username" />
            </div>
        </form>
    </div>

    @* Change password *@
    <div class="box">
       <form method="post" asp-controller="Settings" asp-action="ChangePassword">
            <div class="smallBoxTitle">Change Username</div>
            <div class="secondaryInput">
                <label>New Password</label>
                <input type="password" asp-for="Password" name="Password" placeholder="" autocomplete="off" minLength="8" required maxlength="20" />
            </div>
            <br />
            <div class="secondaryInput">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" asp-for="ConfirmPassword" autocomplete="off" minLength="8" required maxLength="20" />
            </div>
             <div class="buttons">
                <input type="submit" class="buttonStyle changePasswordButton" value="Change Password" />
            </div>
        </form>
    </div>
</div>