@{
    ViewData["Title"] = "User Settings";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/UserSettings.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="boxContainer">
    <div class="box">

    </div>

    <div class="box">

    </div>

    <div class="box">

    </div>

    <div class="box">

    </div>

    <div class="box">

    </div>

</div>