@model Project_Envision.Models.SprintPropertiesModel
@{
    ViewData["Title"] = "Create Sprint";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Sprint.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="createSprintBox">
    <h1>Create Sprint</h1>
    <form>
        <div class="secondaryInput">
            <label asp-for="sprint_Name">Sprint Name:</label>
            <input class="secondaryInput" type="text" autocomplete="off" asp-for="sprint_Name" placeholder="Sprint Name" maxlength="45" required="" />
        </div>

        <br />
        <div class="secondaryInput">
            <label asp-for="sprint_Description">Sprint Description:</label>
            <textarea cols="25" rows="4" placeholder="Sprint Description" id="description" maxlength="100"></textarea>
        </div>

        <br />
        <div class="secondaryInput">
            <label asp-for="start_Time">Sprint Start Time:</label>
            <input asp-for="start_Time" type="datetime-local" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") min=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm").>
        </div>

        <br />

        <div class="secondaryInput">
            <label asp-for="end_Time">Sprint End Time:</label>
            <input asp-for="end_Time" type="datetime-local" value=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") min="@DateTime.Now.AddDays(7).ToString("yyyy-MM-ddTHH:mm")">
        </div>
        <div class="buttonContainer">
            <button type="submit" class="buttonStyle createSprintFormButton">Create Sprint</button>
            <button type="button" class="buttonStyle cancelButton" onclick="location.href='@Url.Action("Sprint", "Sprint")'">Cancel</button>
        </div>
    </form>
</div>