@model Project_Envision.Models.SprintPropertiesModel
@{
    ViewData["Title"] = "Edit Sprint";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Sprint.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="createSprintBox">
    <h1>Edit Sprint</h1>
    <form>
        <div class="secondaryInput">
            <label asp-for="sprint_Name">Sprint Name:</label>
            <input class="secondaryInput" type="text" autocomplete="off" asp-for="sprint_Name" value="@GetSprintProperties.getSprint_Name" required="" />
        </div>

        <br />
        <div class="secondaryInput">
            <label for="sprint_Description" asp-for="sprint_Description">Sprint Description:</label>
            <textarea cols="25" rows="4" id="sprint_Description" name="sprint_Description" maxlength="100">@GetSprintProperties.getSprint_Description</textarea>
        </div>

        <br />
        <div class="secondaryInput">
            <label asp-for="start_Time">Sprint Start Time:</label>
            <input asp-for="start_Time" type="date" value=@GetSprintProperties.getSprint_Start min=@GetSprintProperties.getSprint_Start>
        </div>

        <br />

        <div class="secondaryInput">
            <label asp-for="end_Time">Sprint End Time:</label>
            <input asp-for="end_Time" type="date" value=@GetSprintProperties.getSprint_End min="@DateTime.Now.ToString("yyyy-MM-dd")">
        </div>
        <div class="buttonContainer">
            <button type="submit" class="buttonStyle createSprintFormButton">Edit Sprint</button>
            <button type="button" class="buttonStyle cancelButton" onclick="location.href='@Url.Action("Sprint", "Sprint")'">Close</button>
        </div>
    </form>
</div>