.box {
    position: absolute;
    height: 75%;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    padding: 20px;
}

.menuBox {
    position: absolute;
    height: 40%;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    padding: 20px;
}

.headerTitle {
    text-align: center;
}

.burndownSelection {
    margin-top: 80px;
    margin-bottom: 60px;
}

.burndownSubmit {
    display: grid;
    height: 40px;
    width: 150px;
    margin: auto;
}
