.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px 75px;
}

.createAccountContainer {
    position: relative;
    margin-bottom: 25px;
}

.createAccountContainer label {
    font-family: 'Lucida Bright';
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.createAccountContainer input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
}

.createAccountContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

.createAccountContainer input:focus ~ label,
.createAccountContainer input:valid ~ label {
    top: -12px;
    font-size: 12px;
}

#CreateAccountLogo {
    height: 400px;
    width: 400px;
    margin-top: -75px;
    margin-bottom: -50px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 3;
    transform: scale(1.5, 1.5);
}

.right {
    padding-right: 30px;
}

.createAccountCancelButton {
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}