.logoContainer {
    position: relative;
    text-align: center;
    padding-top: 40px;
}

#circle,
#logo {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 32%;
}

#circle {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 1;
}

#logo {
    height: 400px;
    width: 400px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
    transform: scale(1.2 , 1.2);
}

.buttons {
    text-align: center;
    margin-top: 450px;
}