.box {
    position: absolute;
    height: 80%;
    width: 85%;
    margin-left: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px 75px;
    overflow: scroll;
    overflow-x: hidden;
}

table, th, td {
    border: 1px solid white;
    font-family: 'Lucida Bright';
    font-weight: bold;
    table-layout: fixed;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
    margin: 0px;
}

th {
    color: #e16e12;
}

th, td {
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 50px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E16500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C35700;
}

.fa-pen {
    color: #52280b;
    cursor: pointer;
}

.fa-pen:hover {
    color: #8B4513;
}

.fa-trash {
    color: #9E0000;
    cursor: pointer;
}

.fa-trash:hover {
    color: #FF2323;
}

.createTaskButton {
    width: 165px;
    height: 50px;
    padding: 13px 32px;
}