.box {
    position: absolute;
    height: 80%;
    width: 85%;
    margin-left: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px 75px;
    overflow: scroll;
    overflow-x: hidden;
}

.headerContainer {
    text-align: center;
}

.viewHeader {
    text-align: center;
    font-size: 40px;
}

.tableh1 {
    font-size: 30px;
    color: #fff;
    font-family: 'Lucida Bright';
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

table {
    width: 100%;
    table-layout: fixed;
    font-family: 'Lucida Bright';
}

.tableHead {
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tableContent {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    padding: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #e16e12;
    text-transform: uppercase;
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E16500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C35700;
}

.fa-pen {
    color: #8B4513;
    cursor: pointer;
}

.fa-pen:hover {
    color: #8B4513;
    color: #A45116;
}

.fa-trash {
    color: #9E0000;
    cursor: pointer;
}

.fa-trash:hover {
    color: #FF2323;
}

.createTaskButton {
    width: 165px;
    height: 50px;
    padding: 13px 32px;
}

.editDeleteButton {
    background-color: transparent;
    border: none;
}

.disabledEditDeleteButton {
    background-color: transparent;
    border: none
}