.box {
    position: absolute;
    height: 80%;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0px;
}

.createSprintBox {
    position: absolute;
    height: 70%;
    width: 25%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0px;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #e16e12;
}

.tab button.active {
    background-color: #e16e12;
}

.tabcontent {
    height: 90%;
    display: none;
    padding: 6px 12px;
    border-top: none;
    border-radius: 20px;
}

.createSprintButton {
    background-color: #e16e12;
}

table {
    width: 100%;
    table-layout: fixed;
    font-family: 'Lucida Bright';
}

.tableHead {
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tableContent {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    padding: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #e16e12;
    text-transform: uppercase;
    text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.createSprintFormButton {
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cancelButton {
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonContainer {
    margin-top: 30px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E16500;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C35700;
}

.editSprintButton {
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}

.deleteSprintButton {
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.deleteEditButtonContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    color: white;
    font-family: 'Lucida Bright';
    font-size: 20px;
    padding-top: 2%;
}