.box {
    position: absolute;
    height: 575px;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskContainer {
    height: 500px;
    width: 400px;
}

form {
    margin: 0;
    height: 500px;
    width: 400px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.5, 1.5);
    margin-bottom: 50px;
}

.editCreateButton {
    float: left;
    width: 175px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cancelButton {
    float: right;
    width: 175px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    background-color: #444;
    width: 380px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

select:focus {
    background: #ccc;
    color: #6a6f75;
    width: 385px;
    outline: none;
}