@model Project_Envision.Models.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<link rel="stylesheet" href="~/css/CreateAccount.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box">
    <form id="FirstNameLabel" method="post">
        <div id="CreateAccountLogo"></div>
        <table>
            <tr>
                <td class="right">
                    <div class="textInputContainer">
                        <input type="text" name="firstName" asp-for="firstName" autocomplete="off" minLength="2" required maxLength="20" />
                        <label id="FirstNameLabel" asp-for="firstName">First Name</label>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="textInputContainer">
                        <input type="text" name="lastName" asp-for="lastName" autocomplete="off" minLength="2" required maxLength="20" />
                        <label id="LastNameLabel" asp-for="lastName">Last Name</label>
                        <span asp-validation-for="lastName" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right">
                    <div class="textInputContainer">
                        <input type="text" name="username" asp-for="username" autocomplete="off" minLength="8" required maxLength="20" />
                        <label id="UsernameLabel" asp-for="username">Username</label>
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="textInputContainer">
                        <input type="email" name="email" asp-for="email" autocomplete="off" minLength="8" required maxLength="30" />
                        <label id="EmailLabel" asp-for="email">Email</label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right">
                    <div class="textInputContainer">
                        <input type="password" name="Password" asp-for="Password" autocomplete="off" minLength="8" required maxLength="20" />
                        <label id="PasswordLabel" asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="textInputContainer">
                        <input type="password" name="confirmPassword" asp-for="confirmPassword" autocomplete="off" minLength="8" required maxLength="20" />
                        <label id="ConfirmPasswordLabel" asp-for="confirmPassword">Confirm Password</label>
                    </div>
                </td>
            </tr>
        </table>
            <span style="display: flex; align-content: center; justify-content: space-around;" asp-validation-for="confirmPassword" class="text-danger"></span>

        <input type="submit" class="buttonStyle createAccountButton" value="Create Account" />
        <input type="button" class="buttonStyle cancelButton" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}