@{
    ViewData["Title"] = "Create Account";
}

<link rel="stylesheet" href="~/css/CreateAccount.css" />

<div class="box">
    <form>
        <div id="CreateAccountLogo"></div>
        <table>
            <tr>
                <td class="right">
                    <div class="createAccountContainer">
                        <input type="text" required="" />
                        <label>First Name</label>
                    </div>
                </td>
                <td>
                    <div class="createAccountContainer">
                        <input type="text" required="" />
                        <label>Last Name</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right">
                    <div class="createAccountContainer">
                        <input type="text" required="" />
                        <label>Username</label>
                    </div>
                </td>
                <td>
                    <div class="createAccountContainer">
                        <input type="text" required="" />
                        <label>Email</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right">
                    <div class="createAccountContainer">
                        <input type="password" required="" />
                        <label>Password</label>
                    </div>
                </td>
                <td>
                    <div class="createAccountContainer">
                        <input type="password" required="" />
                        <label>Confirm Password</label>
                    </div>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <input type="submit" class="button homeButtons submitButton" value="Create Account" />
            <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </form>
</div>