@model Project_Envision.Models.ForgotPassword1
@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/ForgotPassword.css" />

<div class="box">
    <form asp-action="ForgotPassword1" method="post">
        <div id="ForgotPasswordLogo"></div>
        <div class="ForgotPasswordContainer">
            <input type="text" name="username" asp-for="username" minLength="8" required maxLength="20" />
            <label id="UsernameLabel" asp-for="username">Username</label>
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
        <div class="ForgotPasswordContainer">
            <input type="email" name="email" asp-for="email" minLength="8" required maxLength="30" />
            <label  id="EmailLabel" asp-for="email">Email</label>
            
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="buttons">
            <input type="submit" class="button homeButtons" value="Submit" />
            <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/ id=" emailLabel" asp-for="email" javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}