@model Project_Envision.Models.ForgotPassword2
@{
    ViewData["Title"] = "Forgot Password";
}

<link rel="stylesheet" href="~/css/ForgotPassword.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box">
    <form asp-action="ForgotPassword2" method="post">
        <div id="ForgotPasswordLogo"></div>
        <div class="textInputContainer">
            <input type="password" name="securityCode" asp-for="SecurityCode" minLength="1" required maxLength="6" />
            <label id="Code" asp-for="SecurityCode">SecurityCode</label>
            <span asp-validation-for="SecurityCode" class="text-danger"></span>
        </div>

        <br />
        <br />

        <div class="buttons">
            <input type="submit" class="buttonStyle forgotPasswordButtons" value="Verify" />
            <input type="button" class="buttonStyle forgotPasswordButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}