@model Project_Envision.Models.ForgotPassword1
@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/site.css" />

<form asp-action="ForgotPassword1" method="post">
    <br />
    <rsquare id="rsquare">

        <headertxt id="headertxt">
            <b>Forgot Password</b>
        </headertxt>
        <br>
        <label id="UsernameLabel" asp-for="username">
            Username:
            <input type="text" name="username" asp-for="username" minLength="8" required maxLength="20" />
            <span asp-validation-for="username" class="text-danger"></span>
        </label>
        <br>
        <label id="EmailLabel" asp-for="email">
            Email:
            <input type="text" name="email" asp-for="email" minLength="8" required maxLength="30" />
            <span asp-validation-for="email" class="text-danger"></span>
        </label>
        <br>
        <button id="SubmitButton" type="submit">Submit</button>

        <input type="button" id="cancelButton" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
    </rsquare>
</form>

@if (ViewBag.Message != null)
{
    <script type="text/ id=" emailLabel" asp-for="email" javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}