@model Project_Envision.Models.ForgotPassword3
@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/site.css" />

<form asp-action="ForgotPassword3" method="post">
    <br />
    <rsquare id="rsquare">

        <headertxt id="headertxt">
            <b>Forgot Password</b>
        </headertxt>
        <br>
        <label id="PasswordLabel" asp-for="Password">
            Password:
            <input type="text" name="Password" asp-for="Password" minLength="8" required maxLength="20" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </label>
        <br>
        <label id="ConfirmPasswordLabel" asp-for="confirmPassword">
            ConfirmPassword:
            <input type="text" name="confirmPassword" asp-for="confirmPassword" minLength="8" required maxLength="30" />
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
        </label>
        <br>
        <button id="SubmitButton" type="submit">Submit</button>

        <input type="button" id="cancelButton" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
    </rsquare>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/ id=" confirmPasswordLabel" asp-for="confirmPassword" javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}
