@model Project_Envision.Models.ForgotPassword2
@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/ForgotPassword.css" />

    <div class="box">
        <form asp-action="ForgotPassword2" method="post">
            <div id="ForgotPasswordLogo"></div>
            <div class="ForgotPasswordContainer">
                <input type="password" name="SecurityCode" asp-for="SecurityCode" minLength="1" required maxLength="6" />
                <label id="Code" asp-for="SecurityCode">SecurityCode</label>
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>

            <div class="buttons">
                <input type="submit" class="button homeButtons" value="Verify" />
                <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </form>
    </div>

@if (ViewBag.Message != null)
{
    <script type="text/ id=" SecurityCodeLabel" asp-for="SecurityCode" javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}

