@model Project_Envision.Models.ForgotPassword3
@{
    ViewData["Title"] = "Forgot Password";
}

<link rel="stylesheet" href="~/css/ForgotPassword.css" />

<div class="box">
    <form asp-action="ForgotPassword3" method="post">
        <div id="ForgotPasswordLogo"></div>
        <div class="ForgotPasswordContainer">
            <input type="password" name="Password" asp-for="Password" minLength="8" required maxLength="20" />
            <label id="PasswordLabel" asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="ForgotPasswordContainer">
            <input type="password" name="confirmPassword" asp-for="confirmPassword" minLength="8" required maxLength="20" />
            <label id="ConfirmPasswordLabel" asp-for="confirmPassword">Confirm Password</label>
            <span id="confirmPasswordValidation" asp-validation-for="confirmPassword" class="text-danger"></span>
        </div>
        <div class="buttons">
            <input type="submit" class="button homeButtons" value="ChangePassword" />
            <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </form>
    @if (ViewBag.Message != null)
    {
        <script type="text/ id=" ConfirmPasswordLabel" asp-for="confirmPassword" javascript">
   window.onload = function () {
        alert("@ViewBag.Message");
    };
        </script>
    }
</div>


