@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />

<body>
    <div class="logoContainer">
        <div id="circle"></div>
        <div id="logo"></div>
    </div>
    <div class="buttons">
        <input type="button" class="button homeButtons" value="Login" onclick="location.href='@Url.Action("Login", "Home")'" />
        <input type="button" class="button homeButtons" value="Create Account" onclick="location.href='@Url.Action("CreateAccount", "Home")'" />
    </div>
</body>