@model Project_Envision.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Login.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box">
    <form asp-action="Login" method="post">
        <div id="loginLogo"></div>
        <div class="textInputContainer">
            <input type="text" name="username" required autocomplete="off" />
            <label>Username</label>
            <span asp-validation-for="usernameInput" class="text-danger"></span>
        </div>
        <div class="textInputContainer">
            <input type="password" required name="password" autocomplete="off" />
            <label>Password</label>
            <span asp-validation-for="password" class="text-danger"></span>
            <a href='@Url.Action("ForgotPassword1")'>Forgot Password?</a>
        </div>
        <input type="submit" class="buttonStyle loginButton" value="Login" onclick="location.href='@Url.Action("login", "Home")'" />
        <input type="button" class="buttonStyle cancelButton" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}