@{
    ViewData["Title"] = "Login";
}

<form>
    <label>
        Username:
        <input type="text" name="username" />
    </label>
    <label>
        Password:
        <input type="text" name="password" />
    </label>
    <input type="submit" value="Login" />
    <input type="button" id="cancelButton" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
</form>