@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/site.css" />

<body>
    <div class="loginContainer">
        <div id="square"></div>
        <div id="logo"></div>
        <form id="loginForm">
            <label>
                Username:
                <input type="text" name="username" />
            </label>
            <br />
            <label>
                Password:
                <input type="text" name="password" />
            </label>
            <br />
            <input type="submit" class="button homeButtons" value="Login" />
            <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
        </form>
    </div>
</body>