@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Board.css" />

<div class="logoContainer">
    <div id="circle"></div>
    <div id="logo"></div>
</div>

<div class="box">
    <table style="color: white;">
        <tr padding: 20px;>
            <th>Backlog</th>
            <th>In Progress</th>
            <th>Testing</th>
            <th>Done</th>
        </tr>

        @{
            if (BoardModel.m_Tasklist.Count != 0)
            {
                for (int i = 0; i < BoardModel.m_Tasklist.Count; i++)
                {
                    if (BoardModel.m_TaskLocationlist[i] == "Backlog")
                    {
                        <tr id="Backlog" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <td>
                                <div class="boardCard" draggable="true" ondragstart="drag(event)" id=@BoardModel.m_Tasklist[i]>
                                    <p class="cardContent">@BoardModel.m_Tasklist[i]</p>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "In Progress")
                    {
                        <tr id="In Progress" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <td></td>
                            <td>
                                <div class="boardCard" draggable="true" ondragstart="drag(event)" id=@BoardModel.m_Tasklist[i] v>
                                    <p class="cardContent">@BoardModel.m_Tasklist[i]</p>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "Testing")
                    {
                        <tr id="Testing" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <td></td>
                            <td></td>
                            <td>
                                <div class="boardCard" draggable="true" ondragstart="drag(event)" id=@BoardModel.m_Tasklist[i]>
                                    <p class="cardContent">@BoardModel.m_Tasklist[i]</p>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "Done")
                    {
                        <tr id="Done" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="boardCard" draggable="true" ondragstart="drag(event)" id=@BoardModel.m_Tasklist[i]>
                                    <p class="cardContent">@BoardModel.m_Tasklist[i]</p>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>