@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/ChooseBoard.css" />


<div class="box">
    <table style="color: white;">
        <tr>
            <th>Backlog</th>
            <th>In Progress</th>
            <th>Testing</th>
            <th>Done</th>
        </tr>

        @{
            if (BoardModel.m_Tasklist.Count != 0)
            {
                for (int i = 0; i < BoardModel.m_Tasklist.Count; i++)
                {
                    if (BoardModel.m_TaskLocationlist[i] == "Backlog")
                    {
                        <tr>
                            <td>@BoardModel.m_Tasklist[i]</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "In Progress")
                    {
                        <tr>
                            <td></td>
                            <td>@BoardModel.m_Tasklist[i]</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "Testing")
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>@BoardModel.m_Tasklist[i] </td>
                            <td></td>
                        </tr>
                    }

                    else if (BoardModel.m_TaskLocationlist[i] == "Done")
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@BoardModel.m_Tasklist[i]</td>
                        </tr>
                    }
                }
            }
        }
    </table>
</div>