@{
    ViewData["Title"] = "Burndown Chart";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/BurndownChart.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box">
    <div class="selectionStyle">
        <select>
            <option>test</option>
            <option>test2</option>
            <option>test3</option>
        </select>
    </div>
</div>