@model Project_Envision.Models.CreateboardModel
@{
    ViewData["Title"] = "Create board";
}

<link rel="stylesheet" href="~/css/CreateBoard.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/Inputs.css" />

<div class="box" method="post">
    <div class="createBoardContainer">
        <form>
            <img src="~/images/logo2.png" />
            
            <div class="secondaryInput">
                <label>Board Name</label>
                <input type="text" name="board_Name" asp-for="board_Name" placeholder="Board Name" autocomplete="off" required="" maxlength="20" />
            </div>

            <br />
            
            <div class="secondaryInput">
                <label>Board Description</label>
                <textarea cols="25" rows="4" placeholder="Board Description" id="description" asp-for="board_Description" maxlength="100"></textarea>
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle createButton" value="Create" />
                <input type="button" class="buttonStyle cancelButton" value="Cancel" onclick="location.href='@Url.Action("ChooseBoard", "Board")'" />
            </div>

        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}