@{
    ViewData["Title"] = "Edit Task";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/CreateBoard.css" />

<div class="box" method="post">
    <form>
        <div>
            <input placeholder="Task Name" required="" />

        </div>

        <div>
            <textarea cols="25" rows="4" placeholder="Task Description" id="description" maxlength="100"></textarea>
        </div>

        <div>
            <input  placeholder="Task Points" required="" />

        </div>

        <div class="buttons">
            <input type="submit" class="button homeButtons" value="Edit Task" />
            <input type="button" class="button homeButtons" value="Cancel" onclick="location.href='@Url.Action("ProductBacklog")'" />
        </div>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}
