@model Project_Envision.Models.Burndown

@{
    ViewData["Title"] = "Burndown Menu";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Inputs.css" />
<link rel="stylesheet" href="~/css/Buttons.css" />
<link rel="stylesheet" href="~/css/BurndownChart.css" />

<div class="menuBox">
    <h1 class="headerTitle">Choose a Sprint to View...</h1>
    <form>
         <div class="secondaryInput burndownSelection">
                <div class="selectionStyle">
                     <select asp-for="sprintId">
                          <option hidden>Choose a Sprint...</option>
                        @{
                            for (int i = 0; i < GetSprintProperties.getSprint_CompletedList.Count(); i++)
                            {
                                if(GetSprintProperties.currentSprint_Id == GetSprintProperties.getSprint_IdList[i] || GetSprintProperties.getSprint_CompletedList[i] == true)
                                { 
                                <option value=@GetSprintProperties.getSprint_IdList[i]> @GetSprintProperties.getSprint_NameList[i]</option>
                                }}
                            }
                    </select>
                </div>
            </div>

            <div class="buttons">
                <input type="submit" class="buttonStyle burndownSubmit" value="Submit" />
            </div>

    </form>
</div>