

@model Project_Envision.Models.Burndown

@{
    ViewData["Title"] = "Burndown Chart";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Inputs.css" />
<link rel="stylesheet" href="~/css/BurndownChart.css" />


<div class="box">

@(Html.DevExtreme().Chart()
    .ID("chart")
    .DataSource(d => d
        .StaticJson()
        .Url(Url.Action("GetBurndownValues", "Burndown"))
          
    )
 
    .Series(s => s.Add()
        .ArgumentField("Date")
        .ValueField("StoryPoints")
        .Type(SeriesType.Line)
    )
    
    .ArgumentAxis(a => a.ArgumentType(ChartDataType.String))
    .Title("Burndown Chart")
    .Size(s => s.Height(420))
    .Legend(l => l.Visible(false))
    .LoadingIndicator(l => l.Enabled(true))
    .Export(e => e.Enabled(true))
)



</div>


<script src="~/js/palette.js"></script>