@{
    ViewData["Title"] = "Choose Board";
}

<link rel="stylesheet" href="~/css/ChooseBoard.css" />

<div class="box">
    <button class="button homeButtons" onclick="location.href='@Url.Action("CreateBoard")'">Create Board</button>
    <table style="color: white;">
        <tr>
            <th>Board Name</th>
            <th>Board Description</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>test</td>
            <td>test2</td>
            <td>test3</td>
        </tr>

    </table>
</div>