@{
    ViewData["Title"] = "Choose Board";
}

<link rel="stylesheet" href="~/css/ChooseBoard.css" />

<div class="box">
    <button class="button homeButtons" onclick="location.href='@Url.Action("CreateBoard")'">Create Board</button>
</div>